.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.carousel-item {
    width: 33.33%; /* this sets the width of each slide to be 33.33% of the carousel width */
  }
  

  