{% extends "base_generic.html" %}

{% block content %}
<form method="post" style="color:red; z-index:5" class="booking-form">
    <h3 class="booking-header" style="color:#E8E8E8">Add Schedule</h3>
    {% csrf_token %}
    {% for field in form %}
        <div class="booking-div">
            <label class="booking-label" style="color:#E8E8E8" for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <input class="booking-submit" type="submit" value="Submit">
</form>
{% endblock %}
