<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
    <div class="nav-bar1">
        <img class="logo" src="{% static 'images/logo.png' %}">
            <ul class="sidebar-1">
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <a href="#">Movies</a>
                </li>
                <li>
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    <a href="{% url 'view_schedule'%}">Schedule</a>
                </li>
                <li>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <a href="{% url 'view_bookings' %}">My Bookings</a>
                </li>
                {%if user.is_authenticated%}</li>
                <li>User:{{user.get_username}}</li>
                <li>
                    <a href="{% url 'logout' %}?next={{request.path }}">Logout</a></li>
                {%else%}
                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                {% endif %}
            </ul>
    </div>
    <div class="content-bar">
        <div class="kiwingu"></div> 
        <form class="search-container" action="{% url 'search_schedules' %}" method="get">
            <input type="text" id="search-bar" placeholder="Find Movie, Theataer, Schedule?">
            <i class="fa fa-search search-icon" aria-hidden="true"></i>  
        </form>
        <div class="link">
        {% block content%} {% endblock %}
        <div>
    </div>
    <div class="nav-bar2">
         {% comment %} <div class="profile">
           <a class="profile-link" href="">
            </a>
        </div> {% endcomment %}
        <div class="categories">
            <h2>Categories</h2>
            <ul class="side-bar-2">
                <li>Action<input class="input" type="checkbox" checked></li>
                <li>Drama<input class="input" type="checkbox" checked></li>
                <li>Sci-Fi<input class="input" type="checkbox" checked></li>
                <li>Horror<input class="input" type="checkbox" checked></li>
            </ul>
        </div>
        <div class="theaters">
            <h2>Theaters</h2>
            <ul class="side-bar-2">
                <li>Makumbusho<input class="input" type="checkbox" checked></li>
                <li>Keko<input class="input" type="checkbox" checked></li>
                <li>Posta<input class="input" type="checkbox" checked></li>
                <li>Rock-City<input class="input" type="checkbox" checked></li>
            </ul>
        </div>
    </div>
</body>
</html>