{% extends 'base_generic.html'%}
{% block content%}
<ul class="sidebar-1">
    {% comment %} 
    path('employee_view',views.employee_view, name='employee_view'),
    path('add_schedule/', views.add_schedule, name='schedule'),
    path('delete_shedule/<int:schedule_id>/', views.schedule_delete, name='delete_schedule'),
    path('schedule_list', views.schedule_list, name='schedule_list_admin'),
    path('edit_schedule/<int:schedule_id>/', views.schedule_edit, name='schedule_edit_admin'),
    
    path('add_movie/', views.add_movie, name='addmovies'),
    path('edit_movie/<int:movie_id>/', views.edit_movie, name='edit_movie'),
    path('delete_movie/<int:movie_id>/', views.delete_movie, name='delete_movie'),
    path('movies_list', views.movies_list, name="movies_list"),
     {% endcomment %}
    <li>
        <a href="{% url 'addmovies' %}">Add Movie</a>
    </li>
    <li>
        <a href="{% url 'movies_list' %}">All Movies</a>
    </li>
    <li>
        <a href="{% url 'schedule'%}">Add Schedule</a>
    </li>
    <li>
        <a href="{% url 'schedule_list_admin' %}">All Schedules</a>
    </li>
</ul>

{% endblock %}