{% extends 'base_generic.html' %}
{% block content %}
<div class="displayer">
  <div class="trailer">
    <iframe  src="https://www.youtube.com/embed/tHb7WlgyaUc" title="Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
  </div>
  <h3 style="position:relative; text-align:left; padding-left:3%;">Upcoming</h3>
  <div class="trending">
    {% for movie in movies|slice:":4" %}
    <a href="{% url "view_schedule" %}" class="movie">
      <img  src="{{ movie.image_url }}" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
    </a>
    {% endfor %}
  </div>
</div>
  {% comment %} </div>
      
        <div class="carousel-item  style="width:20%;">
          <img class="d-block w-100" src="{{ movie.image_url }}" alt="{{ movie.title }}">
          <div class="carousel-caption d-none d-md-block">
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.synopsis }}</p>
          </div> 
        </div>
      {% endfor %}
    {% endcomment %}
{% endblock %} 
