{% extends 'base_generic.html' %}

{% block content %}
  <h1>Movie List</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Release Date</th>
        <th>Image URL</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.synopsis }}</td>
          <td>{{ movie.release_date }}</td>
          <td>{{ movie.image_url }}</td>
          <td>{{ movie.rating }}</td>
          <td>
            <a href="{% url 'edit_movie' movie.id %}">Edit</a>
            <a href="{% url 'delete_movie' movie.id %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
