{%extends "base_generic.html" %}
{% block content %}
<h1>Search Results</h1>
{% if schedules %}
    <h2>Schedules</h2>
    <ul>
        {% for schedule in schedules %}
            <li>{{ schedule.movie.title }} - {{ schedule.screen }} - {{ schedule.start_time }} - {{ schedule.end_time }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if movies %}
    <h2>Movies</h2>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if theaters %}
    <h2>Theaters</h2>
    <ul>
        {% for theater in theaters %}
            <li>{{ theater.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not schedules and not movies and not theaters %}
    <p>No results found for the search query.</p>
{% endif %}
{%endblock%}