{% extends "another_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="booking-div" style="margin-right:30px;">
      <label  class="form-label"for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
      {{ form.username }}
    </div>
    <div class="booking-div" style="margin-right:30px;">
      <label class="form-label"for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
      {{ form.password }}
    </div>
    <input  style="margin-left:60%; background-color:#3dd2cc; width:200px;height:40px;boder:none;" class="form-submit" type="submit" class"booking-submit"value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
{# Assumes you setup the password_reset view in your URLconf #}

  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p><a href="{% url 'register' %}">Don' have an account? Register</a></p>
{% endblock %}